
<!-- Navegador -->
<nav class="navbar navbar-default" role="navigation" >
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
    <ul class="nav navbar-nav" id="boton" style="margin-top: 10px !important;">
      <li class="active" >
         <a (click)="popUp('add', undefined)">Agregar Jugador</a>
      </li>
    </ul>
    <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="search" (ngModelChange)="buscarJugadorPorNombre(key.value)" #key="ngModel" ngModel
            name="key" id="searchName" class="form-control mr-sm-2" placeholder="Buscar por nombre de jugador..." required>
        </div>
        </form>
    </div>
    <div>
      <label for="seleccionado" style="font-size: 20px; color: white;">Buscar por número de jugador:</label>
          <div style="margin-left: 30px !important;">
          <button *ngFor="let item of numeros" type="submit" 
             class="btn btn-primary"
             style="margin: 2px !important; border-color: #778c43 !important;" 
             (click)="buscarJugadorPorNumero(item)">{{item}}</button>
             <button type="submit" 
             class="btn btn-primary"
             style="margin: 2px !important; border-color: #778c43 !important; background-color: #767676 !important; padding-left: 15px !important; padding-right: 15px !important;" 
             (click)="buscarJugadorPorNumero(999)">All</button>
          </div>
       </div>
  </div>
</nav>

<!-- Jugadores -->
<section class="our-webcoderskull padding-lg">
  <div class="container" id="containerPrincipal">
    <div class="row">
      <div *ngFor="let jugador of jugadores" class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 400px;">
            <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
            <h3>{{jugador?.nombre}}</h3>
            <h4>{{jugador?.numero}}</h4>
            <p>{{jugador?.posicion}}</p>
             <div class="d-flex gap-2 pt-4" style="display: block  !important ;">
                <a   (click)="popUp('edit', jugador)" 
                     style="background-color: white !important; border-color: grey;"
                     class="btn btn-primary tooltips" 
                     data-placement="top" 
                     data-original-title="Edit">
                  <i class="fa fa-pencil"></i> 
                </a>
            </div>
          </div>
        </div>
  </div>
  </div>
</section>

<div *ngIf="jugadores?.length == 0" class="col-lg-12 col-md-12 col-x1-12">
  <div class="aler alert-info" role="alert">
    <h4 class="alert-heading"> No hay ningún jugador cargado aún</h4>  
  </div>  
</div>  

<!-- Add Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="agregarJugador">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title">Agregar jugador no registrado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #agregarForm="ngForm" (ngSubmit)="onAgregar(agregarForm)">
          <div class="form-group">
             <label for="nombre">Nombre y apellido</label>
             <input type="text" ngModel name="nombre" class="form-control" id="name" placeholder="Nombre y apellido" required>
          </div>
          <div class="form-group">
             <label for="posicion">Posicion</label>
             <input type="text" ngModel name="posicion" class="form-control" id="posicion" placeholder="Posicion" required>
          </div>
          <div class="form-group">
             <label for="numero">Numero</label>
             <input type="number" min="1" ngModel name="numero" class="form-control" id="numero" placeholder="Numero" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="cerrar-agregar" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             <button [disabled]="agregarForm.invalid" type="submit" class="btn btn-primary" >Guardar</button>   
         </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="editarJugador" >
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" >Editar jugador {{jugadorEditado?.nombre}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editarForm="ngForm">
            <div class="form-group">
               <label for="nombre">Nombre y apellido</label>
               <input type="text" ngModel="{{jugadorEditado?.nombre}}" name="nombre" class="form-control" id="name" placeholder="Nombre y apellido" required>
            </div>
            <input type="hidden" ngModel="{{jugadorEditado?.id}}" name="id" class="form-control" id="id">
            <div class="form-group">
               <label for="posicion">Posicion</label>
               <input type="text" ngModel="{{jugadorEditado?.posicion}}" name="posicion" class="form-control" id="posicion" placeholder="Posicion" required>
            </div>
            <div class="form-group">
               <label for="numero">Numero</label>
               <input type="number" ngModel="{{jugadorEditado?.numero}}" name="numero" class="form-control" id="numero" placeholder="Numero" required>
            </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onEditar(editarForm.value)" data-dismiss="modal" class="btn btn-primary" >Guardar</button>   
               </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="eliminarJugador" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Eliminar jugador</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>¿Está seguro que desea eliminar a {{jugadorPorEliminar?.nombre}} del equipo?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onEliminar(jugadorPorEliminar?.id)" class="btn btn-danger" data-dismiss="modal">Sí</button>
           </div>
        </div>
     </div>
  </div>
</div>

